version: "3"
services:
  subgraph-tests:
    image: livepeer/subgraph:latest
    container_name: subgraph-tests
    entrypoint:
      ["wait-for-it.sh", "graph-node:8020", "--", "yarn", "test:docker"]
    links:
      - geth
      - graph-node
  geth:
    image: livepeer/geth-with-livepeer-protocol:streamflow
    container_name: geth
    ports:
      - "8545:8545"
  graph-node:
    image: graphprotocol/graph-node
    container_name: graph-node
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8020:8020"
      - "8030:8030"
      - "8040:8040"
    depends_on:
      - geth
      - ipfs
      - postgres
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: "ipfs:5001"
      ethereum: "development:http://geth:8545"
      GRAPH_LOG: info
  ipfs:
    image: ipfs/go-ipfs:v0.4.23
    container_name: ipfs
    ports:
      - "5001:5001"
    volumes:
      - ./data/ipfs:/data/ipfs
  postgres:
    image: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
